[submodule "Carthage/Checkouts/Result"]
	path = Carthage/Checkouts/Result
	url = https://github.com/antitypical/Result.git
[submodule "Carthage/Checkouts/Schemata"]
	path = Carthage/Checkouts/Schemata
	url = https://github.com/PersistX/Schemata.git
[submodule "Carthage/Checkouts/ReactiveSwift"]
	path = Carthage/Checkouts/ReactiveSwift
	url = https://github.com/ReactiveCocoa/ReactiveSwift.git
[submodule "Carthage/Checkouts/Standards"]
	path = Carthage/Checkouts/Standards
	url = https://github.com/PersistX/Standards.git
